@import url(https://fonts.googleapis.com/css2?family=Koulen&family=M+PLUS+Rounded+1c:wght@300&family=Noto+Sans+JP&display=swap);
@charset "UTF-8";
/*! destyle.css v3.0.2 | MIT License | https://github.com/nicolas-cusan/destyle.css */
/* Reset box-model and set borders */
/* ============================================ */
*,
::before,
::after {
  box-sizing: border-box;
  border-style: solid;
  border-width: 0;
}

/* Document */
/* ============================================ */
/**
 * 1. Correct the line height in all browsers.
 * 2. Prevent adjustments of font size after orientation changes in iOS.
 * 3. Remove gray overlay on links for iOS.
 */
html {
  line-height: 1.15;
  /* 1 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
  -webkit-tap-highlight-color: transparent;
  /* 3*/
}

/* Sections */
/* ============================================ */
/**
 * Remove the margin in all browsers.
 */
body {
  margin: 0;
}

/**
 * Render the `main` element consistently in IE.
 */
main {
  display: block;
}

/* Vertical rhythm */
/* ============================================ */
p,
table,
blockquote,
address,
pre,
iframe,
form,
figure,
dl {
  margin: 0;
}

/* Headings */
/* ============================================ */
h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: inherit;
  margin: 0;
}

/* Lists (enumeration) */
/* ============================================ */
ul,
ol {
  margin: 0;
  padding: 0;
  list-style: none;
}

/* Lists (definition) */
/* ============================================ */
dt {
  font-weight: bold;
}

dd {
  margin-left: 0;
}

/* Grouping content */
/* ============================================ */
/**
 * 1. Add the correct box sizing in Firefox.
 * 2. Show the overflow in Edge and IE.
 */
hr {
  box-sizing: content-box;
  /* 1 */
  height: 0;
  /* 1 */
  overflow: visible;
  /* 2 */
  border-top-width: 1px;
  margin: 0;
  clear: both;
  color: inherit;
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
pre {
  font-family: monospace, monospace;
  /* 1 */
  font-size: inherit;
  /* 2 */
}

address {
  font-style: inherit;
}

/* Text-level semantics */
/* ============================================ */
/**
 * Remove the gray background on active links in IE 10.
 */
a {
  background-color: transparent;
  text-decoration: none;
  color: inherit;
}

/**
 * 1. Remove the bottom border in Chrome 57-
 * 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
 */
abbr[title] {
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
  /* 2 */
}

/**
 * Add the correct font weight in Chrome, Edge, and Safari.
 */
b,
strong {
  font-weight: bolder;
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
code,
kbd,
samp {
  font-family: monospace, monospace;
  /* 1 */
  font-size: inherit;
  /* 2 */
}

/**
 * Add the correct font size in all browsers.
 */
small {
  font-size: 80%;
}

/**
 * Prevent `sub` and `sup` elements from affecting the line height in
 * all browsers.
 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

/* Replaced content */
/* ============================================ */
/**
 * Prevent vertical alignment issues.
 */
svg,
img,
embed,
object,
iframe {
  vertical-align: bottom;
}

/* Forms */
/* ============================================ */
/**
 * Reset form fields to make them styleable.
 * 1. Make form elements stylable across systems iOS especially.
 * 2. Inherit text-transform from parent.
 */
button,
input,
optgroup,
select,
textarea {
  -webkit-appearance: none;
  /* 1 */
  -moz-appearance: none;
       appearance: none;
  vertical-align: middle;
  color: inherit;
  font: inherit;
  background: transparent;
  padding: 0;
  margin: 0;
  border-radius: 0;
  text-align: inherit;
  text-transform: inherit;
  /* 2 */
}

/**
 * Reset radio and checkbox appearance to preserve their look in iOS.
 */
[type=checkbox] {
  -webkit-appearance: checkbox;
  -moz-appearance: checkbox;
       appearance: checkbox;
}

[type=radio] {
  -webkit-appearance: radio;
  -moz-appearance: radio;
       appearance: radio;
}

/**
 * Correct cursors for clickable elements.
 */
button,
[type=button],
[type=reset],
[type=submit] {
  cursor: pointer;
}

button:disabled,
[type=button]:disabled,
[type=reset]:disabled,
[type=submit]:disabled {
  cursor: default;
}

/**
 * Improve outlines for Firefox and unify style with input elements & buttons.
 */
:-moz-focusring {
  outline: auto;
}

select:disabled {
  opacity: inherit;
}

/**
 * Remove padding
 */
option {
  padding: 0;
}

/**
 * Reset to invisible
 */
fieldset {
  margin: 0;
  padding: 0;
  min-width: 0;
}

legend {
  padding: 0;
}

/**
 * Add the correct vertical alignment in Chrome, Firefox, and Opera.
 */
progress {
  vertical-align: baseline;
}

/**
 * Remove the default vertical scrollbar in IE 10+.
 */
textarea {
  overflow: auto;
}

/**
 * Correct the cursor style of increment and decrement buttons in Chrome.
 */
[type=number]::-webkit-inner-spin-button,
[type=number]::-webkit-outer-spin-button {
  height: auto;
}

/**
 * 1. Correct the outline style in Safari.
 */
[type=search] {
  outline-offset: -2px;
  /* 1 */
}

/**
 * Remove the inner padding in Chrome and Safari on macOS.
 */
[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
 * 1. Correct the inability to style clickable types in iOS and Safari.
 * 2. Fix font inheritance.
 */
::-webkit-file-upload-button {
  -webkit-appearance: button;
  /* 1 */
  font: inherit;
  /* 2 */
}

/**
 * Clickable labels
 */
label[for] {
  cursor: pointer;
}

/* Interactive */
/* ============================================ */
/*
 * Add the correct display in Edge, IE 10+, and Firefox.
 */
details {
  display: block;
}

/*
 * Add the correct display in all browsers.
 */
summary {
  display: list-item;
}

/*
 * Remove outline for editable content.
 */
[contenteditable]:focus {
  outline: auto;
}

/* Tables */
/* ============================================ */
/**
1. Correct table border color inheritance in all Chrome and Safari.
*/
table {
  border-color: inherit;
  /* 1 */
  border-collapse: collapse;
}

caption {
  text-align: left;
}

td,
th {
  vertical-align: top;
  padding: 0;
}

th {
  text-align: left;
  font-weight: bold;
}

@tailwind base;
@tailwind components;
@tailwind utilities;
/*
------------------------------
設定
------------------------------
*/
/*
------------------------------
色
------------------------------
*/
/*
------------------------------
共通
------------------------------
*/
body {
  overflow-x: hidden;
  font-family: "Noto Sans JP", sans-serif;
}

h1, h2, h3 {
  margin-bottom: 20px;
}

p, li {
  font-size: 14px;
}
@media screen and (min-width: 768px) {
  p, li {
    font-size: 16px;
  }
}

a {
  text-decoration: none;
  color: #14171a;
}

.sec-content {
  padding: 60px 0;
}

/*
------------------------------
ユーティリティー
------------------------------
*/
.ta-c {
  text-align: center;
}

.shadow-txt {
  text-shadow: 0 7px 3px rgba(0, 0, 0, 0.5);
}

.shadow-box {
  box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
}

.hov {
  transition: all ease 0.3s;
}
.hov.hov-txt:hover {
  text-shadow: none;
}
.hov.hov-box:hover {
  box-shadow: none;
}

.glass {
  background: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(2px);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  -webkit-backdrop-filter: blur(2px);
  border: 1px solid rgba(255, 255, 255, 0.18);
}
@-moz-document url-prefix() {
  .glass {
    background: rgba(255, 255, 255, 0.415);
  }
}

.scroll::-webkit-scrollbar {
  position: relative;
  width: 5px;
  height: 5px;
  background-clip: content-box;
}
.scroll::-webkit-scrollbar-thumb {
  width: 5px;
  height: 5px;
  border-radius: 20px;
  background: lightgrey;
}
@-moz-document url-prefix() {
  .scroll {
    scrollbar-width: thin;
    scrollbar-color: lightgrey transparent;
  }
}

.opacity-1 {
  opacity: 1 !important;
}

.modal {
  position: relative;
  z-index: -1;
  opacity: 0;
  -webkit-backdrop-filter: blur(1px);
          backdrop-filter: blur(1px);
  transition: -webkit-backdrop-filter ease 0.5s;
  transition: backdrop-filter ease 0.5s;
  transition: backdrop-filter ease 0.5s, -webkit-backdrop-filter ease 0.5s;
  background: rgba(255, 255, 255, 0.1);
}
.modal.active {
  -webkit-backdrop-filter: blur(10px);
          backdrop-filter: blur(10px);
  opacity: 1;
  z-index: 4;
  width: 100vw;
  height: calc(45px + 100vh);
  position: relative;
  top: 45px;
}
@media screen and (min-width: 768px) {
  .modal.active {
    position: relative;
    top: 0;
  }
}
@-moz-document url-prefix() {
  .modal.active {
    background: rgba(255, 255, 255, 0.6);
  }
}

@-webkit-keyframes spin {
  from {
    transform: none;
  }
  to {
    transform: rotate(360deg);
  }
}

@keyframes spin {
  from {
    transform: none;
  }
  to {
    transform: rotate(360deg);
  }
}
#loading {
  width: 100vw;
  height: 100vh;
  transition: all 1s;
  background-color: #fff;
  /* 以下のコードを追加 */
  position: fixed;
  top: 0;
  left: 0;
  z-index: 5;
}
#loading .spinner {
  position: fixed;
  width: 70px;
  height: 70px;
  top: calc(50% - 35px);
  left: calc(50% - 35px);
  transform: translate(-50%, -50%);
  border: 5px solid #14171a;
  border-left-color: transparent;
  border-radius: 50%;
  -webkit-animation: spin 0.5s linear infinite;
          animation: spin 0.5s linear infinite;
}

.loaded {
  opacity: 0;
  visibility: hidden;
}

#body.works-detail #loading {
  display: none;
}

/*
------------------------------
パンくず
------------------------------
*/
.breadcrumb {
  margin-bottom: 20px;
  line-height: 1.6;
}
.breadcrumb a, .breadcrumb span {
  font-size: 0.8rem;
}
.breadcrumb li {
  display: inline;
}
.breadcrumb a {
  font-weight: bold;
}
.breadcrumb i {
  color: #14171a;
  font-size: 0.7rem;
  padding: 0 0.2em;
}

.works .breadcrumb, .blogs .breadcrumb {
  margin-bottom: 0;
  margin-left: 20px;
}

/*
------------------------------
ページナビゲーション
------------------------------
*/
.navigation {
  z-index: 2;
  display: flex;
  justify-content: space-between;
}
@media screen and (min-width: 768px) {
  .navigation {
    transform: translateY(-50%);
    top: 50%;
  }
}
.navigation .prev, .navigation .next, .navigation .home {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background: rgba(255, 255, 255, 0.4);
}
@media screen and (min-width: 768px) {
  .navigation .prev, .navigation .next, .navigation .home {
    width: 50px;
    height: 50px;
  }
}
.navigation .prev a, .navigation .next a, .navigation .home a {
  display: block;
  width: 40px;
  height: 40px;
  position: relative;
}
@media screen and (min-width: 768px) {
  .navigation .prev a, .navigation .next a, .navigation .home a {
    width: 50px;
    height: 50px;
  }
}
.navigation .prev a i, .navigation .next a i, .navigation .home a i {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 1.2rem;
}
@media screen and (min-width: 768px) {
  .navigation .prev a i, .navigation .next a i, .navigation .home a i {
    font-size: 1.5rem;
  }
}
.navigation .prev {
  margin-left: 20%;
}
@media screen and (min-width: 768px) {
  .navigation .prev {
    margin-left: 3%;
  }
}
@media screen and (min-width: 1700px) {
  .navigation .prev {
    margin-left: 12%;
  }
}
.navigation .next {
  margin-right: 20%;
}
@media screen and (min-width: 768px) {
  .navigation .next {
    margin-right: 3%;
  }
}
@media screen and (min-width: 1700px) {
  .navigation .next {
    margin-right: 12%;
  }
}

.works-detail .navigation {
  position: absolute;
  width: 100vw;
  bottom: 13%;
}
@media screen and (min-width: 768px) {
  .works-detail .navigation {
    bottom: unset;
  }
}
.works-detail .navigation .home {
  display: none;
}

.blogs-detail .navigation {
  margin-bottom: 30px;
}
@media screen and (min-width: 768px) {
  .blogs-detail .navigation .prev {
    margin-left: 35%;
  }
}
@media screen and (min-width: 768px) {
  .blogs-detail .navigation .next {
    margin-right: 35%;
  }
}

/*
------------------------------
見出し
------------------------------
*/
.top-title_sub {
  text-align: center;
  font-size: 1.5em;
  margin-bottom: 40px;
}
@media screen and (min-width: 768px) {
  .top-title_sub {
    margin-bottom: 60px;
  }
}
.top-title_sub span {
  font-size: 2em;
}

/*
------------------------------
ヘッダー
------------------------------
*/
header {
  width: 100vw;
  position: fixed;
  bottom: 0;
  left: 0;
  z-index: 2;
}
@media screen and (min-width: 768px) {
  header {
    top: 0;
    bottom: auto;
  }
}
header #app, header .header-inner {
  height: 100%;
}
header .g-nav {
  margin: 5px auto;
  font-size: 1.2em;
  font-weight: bold;
}
@media screen and (min-width: 768px) {
  header .g-nav {
    margin: 20px auto;
    width: 800px;
  }
}
header .g-nav ul {
  display: flex;
  justify-content: space-around;
  align-items: center;
  -webkit-padding-start: 0 !important;
          padding-inline-start: 0 !important;
}
header .g-nav li {
  list-style: none;
}
header .g-nav .prof-ico {
  cursor: pointer;
}
@media screen and (min-width: 768px) {
  header .g-nav .prof-ico {
    position: absolute;
    right: 30px;
  }
}
header .g-nav .prof-ico img {
  width: 35px;
  height: 35px;
  transition: transform 0.3s ease;
}
@media screen and (min-width: 768px) {
  header .g-nav .prof-ico img {
    width: 40px;
    height: 40px;
  }
}
header .g-nav .prof-ico:hover img {
  transform: rotate(-15deg);
}

/*
------------------------------
スライダー
------------------------------
*/
.swiper {
  width: 95%;
  height: 420px;
}
@media screen and (min-width: 768px) {
  .swiper {
    height: auto;
  }
}

.swiper-button-prev, .swiper-button-next {
  display: none;
}
@media screen and (min-width: 768px) {
  .swiper-button-prev, .swiper-button-next {
    display: inline-block;
    color: #14171a;
    transform: scale(0.5);
  }
}

/*
------------------------------
プロフモーダル
------------------------------
*/
.prof-modal .post-conts {
  max-width: 1400px;
  margin: 0 auto;
}
.prof-modal .posts-conts--inner {
  height: 80vh;
  max-width: 1200px;
  min-height: 500px;
  max-height: 700px;
  overflow-y: scroll;
  -webkit-backdrop-filter: none;
          backdrop-filter: none;
  transition: opacity 0.2s 0.5s ease, background 0.5s 1.5s ease, -webkit-backdrop-filter 0.3s 0.7s ease;
  transition: opacity 0.2s 0.5s ease, background 0.5s 1.5s ease, backdrop-filter 0.3s 0.7s ease;
  transition: opacity 0.2s 0.5s ease, background 0.5s 1.5s ease, backdrop-filter 0.3s 0.7s ease, -webkit-backdrop-filter 0.3s 0.7s ease;
  z-index: 5;
  display: none;
}
.prof-modal .posts-conts--inner.opacity-1 {
  background: rgba(255, 255, 255, 0.4) !important;
  -webkit-backdrop-filter: blur(5px);
          backdrop-filter: blur(5px);
}
.prof-modal .posts-conts--inner .posts-cont {
  transition: opacity 0.5s 1.5s ease;
}
@-webkit-keyframes glass-animation {
  from {
    box-shadow: 0 5px 22px 0 rgba(31, 38, 135, 0.37);
  }
  to {
    box-shadow: 0 5px 22px 10px rgba(16, 19, 67, 0.7);
  }
}
@keyframes glass-animation {
  from {
    box-shadow: 0 5px 22px 0 rgba(31, 38, 135, 0.37);
  }
  to {
    box-shadow: 0 5px 22px 10px rgba(16, 19, 67, 0.7);
  }
}
@-webkit-keyframes glass-animation--sp {
  from {
    box-shadow: 0 5px 26px 0 rgba(31, 38, 135, 0.37);
  }
  to {
    box-shadow: 0 5px 26px 10px rgba(16, 19, 67, 0.7);
  }
}
@keyframes glass-animation--sp {
  from {
    box-shadow: 0 5px 26px 0 rgba(31, 38, 135, 0.37);
  }
  to {
    box-shadow: 0 5px 26px 10px rgba(16, 19, 67, 0.7);
  }
}
.prof-modal.active .posts-conts--inner {
  display: block;
  top: 50%;
}
@media screen and (min-width: 768px) {
  .prof-modal.active .posts-conts--inner {
    top: 45%;
  }
}
.prof-modal.active .glass {
  -webkit-animation: glass-animation--sp 0.4s ease forwards;
          animation: glass-animation--sp 0.4s ease forwards;
}
@media screen and (min-width: 768px) {
  .prof-modal.active .glass {
    -webkit-animation: glass-animation 0.4s ease forwards;
            animation: glass-animation 0.4s ease forwards;
  }
}
.prof-modal.active ~ .g-nav {
  filter: blur(2px);
}
.prof-modal .posts-cont {
  z-index: 2;
}
@media screen and (min-width: 768px) {
  .prof-modal .prof-header {
    margin-bottom: 50px;
  }
}
@media screen and (min-width: 768px) {
  .prof-modal .prof-header--inner {
    display: flex;
    justify-content: space-around;
    align-items: center;
  }
}
.prof-modal .prof-icon {
  margin-bottom: 20px;
}
@media screen and (min-width: 768px) {
  .prof-modal .prof-icon {
    margin-bottom: 0;
    width: 20%;
  }
}
.prof-modal .prof-icon img {
  width: 150px;
  height: 150px;
  display: block;
  margin: 0 auto 20px;
}
.prof-modal .prof-icon p {
  font-weight: bold;
}
.prof-modal .prof-skils {
  line-height: 1.7;
  margin-bottom: 20px;
}
@media screen and (min-width: 768px) {
  .prof-modal .prof-skils {
    margin-bottom: 0;
    width: 30%;
  }
}
.prof-modal .prof-skils dl {
  margin-bottom: 10px;
}
.prof-modal .prof-skils dt {
  font-weight: bold;
}
.prof-modal .prof-skils dt i {
  margin-right: 5px;
}
.prof-modal .prof-skils dd {
  margin-left: 21px;
}
.prof-modal .prof-github {
  margin-bottom: 20px;
}
@media screen and (min-width: 768px) {
  .prof-modal .prof-github {
    margin-bottom: 0;
    width: 40%;
  }
}
.prof-modal .prof-github img {
  width: 100%;
}
.prof-modal .prof-github img:first-child {
  margin-bottom: 20px;
}
.prof-modal .posts-txt {
  overflow-y: unset !important;
}

/*
------------------------------
実績モーダル
------------------------------
*/
@-webkit-keyframes worksmodal-animation {
  from {
    opacity: 0;
    transform: translate(-50%, -5%);
  }
  to {
    opacity: 1;
    transform: translate(-50%, 23px);
  }
}
@keyframes worksmodal-animation {
  from {
    opacity: 0;
    transform: translate(-50%, -5%);
  }
  to {
    opacity: 1;
    transform: translate(-50%, 23px);
  }
}
.works-modal {
  display: none !important;
  justify-content: center !important;
  position: absolute;
  top: 38px;
  left: 50%;
  transform: translateX(-50%);
  transition: display 0.3s 0.3s ease;
}
.works-modal.active {
  display: flex !important;
  -webkit-animation: worksmodal-animation 0.2s ease both;
          animation: worksmodal-animation 0.2s ease both;
}
.works-modal li {
  width: 350px;
  position: relative;
  overflow: hidden;
}
.works-modal img {
  display: block;
  width: 100%;
  transition: transform 0.3s ease;
  z-index: 0;
}
.works-modal span {
  display: inline-block;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #fff;
  z-index: 2;
}
.works-modal .cover {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.4);
  transition: background 0.3s ease;
  z-index: 2;
}
.works-modal a:hover .cover {
  background: transparent;
}
.works-modal a:hover img {
  transform: scale(1.1);
}

/*
------------------------------
トップ
------------------------------
*/
.home .sec-content, .works .sec-content, .blogs .sec-content {
  padding: 50px 0;
}
@media screen and (min-width: 768px) {
  .home .sec-content, .works .sec-content, .blogs .sec-content {
    padding: 100px 0;
    max-width: 1500px;
    margin: 0 auto;
  }
}
.home .posts-btn, .works .posts-btn, .blogs .posts-btn {
  margin-bottom: 20px;
}
.home .posts-btn:nth-of-type(2), .works .posts-btn:nth-of-type(2), .blogs .posts-btn:nth-of-type(2) {
  font-size: 2rem;
}
.home .top-items, .works .top-items, .blogs .top-items {
  max-height: 390px !important;
}
.home .items, .works .items, .blogs .items {
  width: 95%;
  height: auto;
  margin: 0 auto;
  align-items: center;
  flex-direction: column;
  max-height: 100%;
  display: flex;
  overflow-y: scroll;
  padding: 0 10px 30px 10px;
}
@media screen and (min-width: 768px) {
  .home .items, .works .items, .blogs .items {
    width: 100%;
    height: auto;
    align-items: unset;
    flex-direction: row;
    overflow-y: unset;
    padding-bottom: 0;
  }
}
.home .items .item, .works .items .item, .blogs .items .item {
  border-radius: 15px;
  margin-bottom: 20px;
  cursor: pointer;
  overflow: hidden;
  display: flex;
  width: 320px;
  height: 110px !important;
  height: 100% !important;
}
@media screen and (min-width: 768px) {
  .home .items .item, .works .items .item, .blogs .items .item {
    display: block;
    width: 30% !important;
    height: auto !important;
    margin: 30px 1.6%;
  }
}
.home .items .item .item-img, .works .items .item .item-img, .blogs .items .item .item-img {
  text-align: center;
  position: relative;
  width: 120px;
  height: 120px;
  overflow: hidden;
}
@media screen and (min-width: 768px) {
  .home .items .item .item-img, .works .items .item .item-img, .blogs .items .item .item-img {
    width: auto;
    height: 200px;
  }
}
.home .items .item .item-img img, .works .items .item .item-img img, .blogs .items .item .item-img img {
  width: 120px;
  height: 120px;
  -o-object-fit: cover;
     object-fit: cover;
}
@media screen and (min-width: 768px) {
  .home .items .item .item-img img, .works .items .item .item-img img, .blogs .items .item .item-img img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 110%;
    height: auto;
    -o-object-fit: unset;
       object-fit: unset;
  }
}
.home .items .item .item-txt, .works .items .item .item-txt, .blogs .items .item .item-txt {
  padding: 10px;
  box-sizing: border-box;
  height: 120px;
}
@media screen and (min-width: 768px) {
  .home .items .item .item-txt, .works .items .item .item-txt, .blogs .items .item .item-txt {
    padding: 20px;
    box-sizing: unset;
    height: auto;
  }
}
.home .items .item .item-ttl, .works .items .item .item-ttl, .blogs .items .item .item-ttl {
  margin: 0 auto 5px;
  font-weight: bold;
  margin-bottom: 10px;
  color: #14171a;
  width: 170px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
@media screen and (min-width: 768px) {
  .home .items .item .item-ttl, .works .items .item .item-ttl, .blogs .items .item .item-ttl {
    text-align: center;
    width: auto;
    overflow: unset;
    text-overflow: unset;
    white-space: nowrap;
  }
}
.home .items .item .item-body, .works .items .item .item-body, .blogs .items .item .item-body {
  margin: 0;
  text-align: left;
  color: lightgrey;
  font-size: 0.7rem;
}
.home .items .tag, .works .items .tag, .blogs .items .tag {
  text-align: center;
  font-size: 0.8rem;
  padding-bottom: 10px;
  color: #fff;
}
@media screen and (min-width: 768px) {
  .home .items .tag, .works .items .tag, .blogs .items .tag {
    padding-bottom: 15px;
  }
}
.home .items .tag span, .works .items .tag span, .blogs .items .tag span {
  padding: 1px 8px;
  border-radius: 10px;
  background: #14171a;
}

.top-blog {
  flex-direction: column;
}
@media screen and (min-width: 768px) {
  .top-blog {
    flex-direction: row;
  }
}

/*
------------------------------
投稿共通
------------------------------
*/
.sec-message {
  text-align: center;
  color: darkgray;
  margin-bottom: 30px;
}

.sidebar-posts {
  height: 100vh;
  position: fixed;
  left: 0;
  top: 0;
  z-index: 1;
  background: lightgrey;
  color: #14171a;
  padding: 15px 30px;
}
.sidebar-posts .posts-menus a {
  display: block;
  color: #14171a;
  border-bottom: 1px solid #fff;
  padding-bottom: 5px;
  margin-bottom: 10px;
  cursor: pointer;
}
.sidebar-posts footer {
  position: absolute;
  left: 20px;
  bottom: 100px;
}

/*
------------------------------
投稿関連
------------------------------
*/
.sec-posts {
  background-size: cover !important;
  background-attachment: fixed;
  padding: 0;
}
.sec-posts.sec-admin {
  margin-left: 200px;
}
.sec-posts.sec-admin h2 {
  text-align: left;
}
.sec-posts .posts-conts {
  width: 100%;
  min-height: 100vh;
  margin: 0 auto;
  position: relative;
}
.sec-posts .posts-conts--inner {
  width: 80%;
  min-height: 80%;
  font-size: 0.8rem;
  margin: 15px auto 0;
  padding: 20px;
  box-sizing: border-box;
  position: absolute;
  top: 45%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 5px;
}
@media screen and (min-width: 768px) {
  .sec-posts .posts-conts--inner {
    font-size: 1rem;
    width: 80%;
    top: 50%;
  }
}
.sec-posts h2 {
  text-align: center;
  font-size: 1.3rem;
  font-weight: bold;
  margin-top: 10px;
}
.sec-posts .text-danger {
  color: #14171a;
  text-align: center;
  font-size: 1.3em;
  font-weight: bold;
}
.sec-posts .posts-img {
  text-align: center;
  margin: 40px auto 40px;
}
.sec-posts .posts-img img {
  display: inline-block;
  -o-object-fit: cover;
     object-fit: cover;
  width: 300px;
  height: 170px;
}
@media screen and (min-width: 768px) {
  .sec-posts .posts-img img {
    width: 700px;
    height: 400px;
  }
}
.sec-posts .posts-txt {
  color: #000;
  line-height: 1.8;
  margin-bottom: 30px;
}
@media screen and (min-width: 768px) {
  .sec-posts .posts-txt {
    padding: 40px;
    max-height: auto;
  }
}
.sec-posts .posts-btn {
  font-size: 1.5em;
  font-weight: bold;
}
.sec-posts .dates {
  color: lightgrey;
  font-size: 0.7em;
  text-align: right;
}
.sec-posts .posts-table th {
  padding: 10px;
}
.sec-posts .posts-table td {
  padding-left: 10px;
}
.sec-posts .form-group {
  margin-bottom: 20px;
}
.sec-posts input, .sec-posts textarea {
  background: whitesmoke;
}
.sec-posts input[type=text], .sec-posts textarea {
  width: 97%;
  padding: 15px;
}
.sec-posts textarea {
  height: 40vh;
}
.sec-posts select {
  border: 1px solid #14171a;
  border-radius: 5px;
  width: 50px;
  text-align: center;
  line-height: 20px;
}
.sec-posts .mt-5 {
  width: 200px;
  margin: 0 auto;
}
.sec-posts .btn-secondary {
  border: 1px solid lightgrey;
  border-radius: 2%;
  margin-right: 20px;
}

/*
------------------------------
フッター
------------------------------
*/
footer {
  text-align: center;
  margin-bottom: 100px;
}
@media screen and (min-width: 768px) {
  footer {
    margin-bottom: 0;
  }
}

/*
------------------------------
実績一覧
------------------------------
*/
.works .items, .blogs .items {
  flex-wrap: wrap;
  justify-content: center;
}
@media screen and (min-width: 768px) {
  .works .items, .blogs .items {
    justify-content: flex-start;
  }
}
.works .items .item, .blogs .items .item {
  margin: 1.6%;
}
.works .top-title_sub, .blogs .top-title_sub {
  margin-bottom: 20px;
}

/*
------------------------------
ブログ一覧
------------------------------
*/
.blogs .items {
  flex-wrap: wrap;
}

/*
------------------------------
実績詳細
------------------------------
*/
.works-detail header, .works-detail .posts-conts--inner {
  opacity: 0;
  transition: opacity 0.3s 0.5s ease, background 0.5s 1.5s ease;
  z-index: 4;
}
.works-detail header.opacity-1, .works-detail .posts-conts--inner.opacity-1 {
  background: rgba(255, 255, 255, 0.4) !important;
  -webkit-backdrop-filter: blur(5px);
          backdrop-filter: blur(5px);
}
.works-detail header .posts-txt, .works-detail .posts-conts--inner .posts-txt {
  padding: 0 5px;
  max-height: 300px;
  overflow-y: scroll;
  max-height: 42vh;
}
@media screen and (min-width: 768px) {
  .works-detail header .posts-txt, .works-detail .posts-conts--inner .posts-txt {
    max-height: 50vh;
  }
}
.works-detail .navigation, .works-detail .links {
  opacity: 0;
  transition: opacity 0.3s 0.5s ease, background 0.5s 1.5s ease;
}
.works-detail .header-inner {
  background: transparent !important;
  -webkit-backdrop-filter: blur(0px);
          backdrop-filter: blur(0px);
  top: 53% !important;
}
.works-detail .posts-conts--inner {
  height: 75vh;
  max-width: 1200px;
  min-height: 500px;
  max-height: 700px;
  -webkit-backdrop-filter: none;
          backdrop-filter: none;
  transition: opacity 0.2s 0.5s ease, background 0.5s 1.5s ease, -webkit-backdrop-filter 0.3s 0.7s ease;
  transition: opacity 0.2s 0.5s ease, background 0.5s 1.5s ease, backdrop-filter 0.3s 0.7s ease;
  transition: opacity 0.2s 0.5s ease, background 0.5s 1.5s ease, backdrop-filter 0.3s 0.7s ease, -webkit-backdrop-filter 0.3s 0.7s ease;
  top: 50%;
  z-index: 2;
}
@media screen and (min-width: 768px) {
  .works-detail .posts-conts--inner {
    z-index: 3;
    top: 50% !important;
  }
}
.works-detail .posts-conts--inner .posts-cont {
  opacity: 0;
  transition: opacity 0.5s 1.5s ease;
}
.works-detail .active .posts-conts--inner {
  margin-top: 0;
}
.works-detail .links {
  position: absolute;
  bottom: 10.7%;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 3;
}
@media screen and (min-width: 768px) {
  .works-detail .links {
    bottom: 7%;
  }
}
@media screen and (min-width: 1700px) {
  .works-detail .links {
    bottom: 12%;
  }
}
.works-detail .posts-btn {
  margin: 0 5px 20px;
  font-size: 1.2rem;
}
@media screen and (min-width: 768px) {
  .works-detail .posts-btn {
    font-size: 1.5rem;
    margin: 0 20px 20px;
  }
}
.works-detail .posts-btn:nth-of-type(2) {
  font-size: 1.5rem;
}
@media screen and (min-width: 768px) {
  .works-detail .posts-btn:nth-of-type(2) {
    font-size: 2rem;
  }
}

/*
------------------------------
ブログ詳細
------------------------------
*/
.blogs-detail .posts-conts {
  margin: 40px auto 65px;
  width: 90vw;
  padding: 30px;
}
@media screen and (min-width: 768px) {
  .blogs-detail .posts-conts {
    width: 1000px;
    margin: 100px auto;
  }
}
.blogs-detail .posts-conts h2 {
  margin: 0;
  margin-bottom: 30px;
}
